body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo {
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bevestig {
    text-align: center;
}

.page-footer {
    background-color: #2d2d2d !important;
}